.sen1{
    color:red;
}

#one{
    color: green;
    text-decoration: underline;
}

*{
    text-align: center;
    font-size: 20px;
}

button{
    color: white;
    background-color: blue;
}

button:hover{
    color: red;
}